body, html {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

.is-show {
    background: #1a1a1a;
}

.is-show .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}

.is-show .title, .is-show .subtitle {
    color: #fff;
}

.title:not(.is-spaced)+.subtitle {
    margin-top: unset;
}

.is-show a:not(.down) {
    color: #fff;
    border-bottom: 0.1rem #fff dotted;
    transition: 0.3s;
}

.is-show a:not(.down):hover {
    color: #ee5253;
    border-bottom: 0.1rem #ee5253 dotted;
}

.is-show a.down {
    transition: 0.3s;
    color: #ee5253;
    position: absolute;
    display: block;
    width: 100%;
    animation-duration: 0.5s;
    animation-name: arrowdown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.is-show a.down:hover {
    color: #ee5253;
}

.is-show a.down span {
    font-size: 32px;
}

.is-show .logo {
    background-image: url("../img/logo.png");
    margin: auto auto 1rem auto;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

@keyframes arrowdown {
    from {
        padding-top: 0rem;
    }

    to {
        padding-top: 1rem;
    }
}

p.text {
    font-size: 20px;
}

p.text:not(:last-child) {
    margin-bottom: 1.5rem;
}

P.text br {
    padding-bottom: 1rem;
    content: "";
    display: block;
}

.is-portfolio .box:hover {
    transform: scale(1.1);
}

.is-portfolio .box {
    transition: 0.3s;
    width: 250px;
    border-radius: 0;
    padding: 0;
    margin: auto;
}

.is-portfolio .box a {
    color: #ee5253;
    text-align: center;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.is-portfolio .box a:hover {
    color: #ee5253;
}

desc {
    display: none;
}

.modal p:not(.modal-card-title) {
    font-size: 20px;
    margin-top: 1.5rem;
}

.is-contact ul {
    list-style: circle;
    padding-left: 40px;
}

.is-contact ul li {
    font-size: 20px;
    font-weight: 900;
}

.is-contact ul li span {
    color: #ee5253;
    font-weight: 400;
}