body, html {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  background-color: #262626;
}

.title, .subtitle {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
}

.hero {
  background-position: bottom;
  background-size: cover;
}

.button {
  transition: 0.3s;
  border-radius: 1px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.button.is-primary {
  background-color: #e74c3c;
}

.button.is-primary:hover, .button.is-primary:active, .button.is-primary:focus, .button.is-primary[disabled] {
  background-color: #c0392b;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
